/** {
  outline: 2px solid red;
}
*/

 
	
html, body, div { 
	margin: 0; 
	border: 0 none; 
	padding: 0; 
	height: 100%;
}

body { 
	background-color: #DDDDDD; 
}

.container {
	border: 0px yellow solid;
	width: 50%;
	margin: auto;
}
.left, .middle, .right {
	border: 0px red solid;
	width: 33%;
	height: 100%;
	float: right;
	
}

.blue { background-color: #4A90E2; }
.green { background-color: #50E3C2; }
.yellow { background-color: #B8E986; }
.red { background-color: red; }

div.img  {
	border: 0px navy solid;
	height: 110px;
	width: 33%;
	position: relative;
	float: right;
	margin-top: -200px;
	clear: none;
	text-align: center;
	color: white;
	padding-top: 90px;
}

