
	
html, body{ 
	margin: 0; 
	border: 0 none; 
	padding: 0; 
	height: 100%;
}

body { 
	background-color: #DDDDDD; 
}

div { 
	/* border: 0px red solid;  */
	height: 16.7%; 
}
.container {
	border: 0px yellow solid;
	width: 60%;
	height: 100%;
	margin: auto;
}

div.menuCollapsed {
	height: 75%;
	width: 8%;
	position: relative;
	left: 5%;
	top: 10%;
}

span.text { 
	display: block;
	border: 0px silver solid;
	color: black; 
	font-family: arial;  
	font-size: 18px;  
	line-height: 20px;
	padding: 10px 10%;  
}
  	  
.grey { background-color: #D8D8D8; height: 10%;}
.white { background-color: #FFFFFF; height: 20%;  }
.turquoise { background-color: #50E3C2; }
.olive { background-color: #B8E986; }
.blue { background-color: #4A90E2; }
.green { background-color: #50E3C2; }
.yellow { background-color: #F8E71C; }
.red { background-color: red; }


